<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MirroringCaptureApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MirroringCaptureApp.Properties.Settings>
            <setting name="HotkeySetting" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBoxState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ModifiersData" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KeyData" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="taskChData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartUpFlag" serializeAs="String">
                <value>False</value>
            </setting>
        </MirroringCaptureApp.Properties.Settings>
    </userSettings>
</configuration>